:root {
  --primary: #ddd; /* hex */
  --dark: #333;
  --light: #fff;
  --shadow: 0 5px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}
.btn {
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border: 0;
  background-color: var(--dark);
  color: var(--light);
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.main-nav ul {
  padding: 0;
  display: grid;
  grid-gap: 20px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  background: var(--primary);
  color: var(--dark);
  display: block;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

/* Section top container  */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    " show-case show-case top-box-a"
    "  show-case show-case top-box-b";
}
.show-case {
  grid-area: show-case;
  background: url(./img/4.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 26rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.show-case h1 {
  font-size: 2.7rem;
  margin-bottom: 0;
  color: var(--light);
}
.show-case p {
  font-size: 1.6rem;
  margin-top: 0;
  color: var(--light);
}

.top-box {
  display: grid;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  box-shadow: var(--shadow);
  padding: 1.3rem;
  font-size: 1.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

.top-box-a a,
.top-box-b a {
  text-transform: uppercase;

  box-shadow: var(--shadow);
  background: var(--dark);
  color: var(--light);
}

.top-box-a a:hover,
.top-box-b a:hover {
  background: var(--light);
  color: var(--dark);
}

.top-box > .price {
  font-size: 1.8rem;
}

/* boxes section  */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  box-shadow: var(--shadow);
  text-align: center;
  padding: 1.2rem 0.8rem;
}

.info {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
  background: var(--primary);
  box-shadow: var(--shadow);

}
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.portfolio img {
  min-width: 100%;
  box-shadow: var(--shadow);
}
.info-details a {
  box-shadow: var(--shadow);
  background: var(--dark);
  color: var(--light);
}

.info-details a:hover {
  background: var(--light);
  color: var(--dark);
}
/* footer */

footer {
  margin-top: 3rem;
  text-align: center;
  padding: 0.7rem;
  background-color: var(--dark);
  color: var(--light);
}

footer > p {
  font-size: 1.3em;
}

/* breakpoints  */

@media (max-width: 768px) {
  .top-container {
    grid-template-areas:
      "show-case show-case"
      "top-box-a top-box-b";
  }

  .show-case h1 {
    font-size: 1.6rem;
  }

  .show-case p {
    font-size: 1rem;
  }
  .show-case .btn {
    margin-top: 2rem;
  }

  .top-box > .price {
    font-size: 0.6rem;
  }
  .main-nav ul {
    grid-gap: 0.5rem;
  }
  .main-nav {
    margin-bottom: -1rem;
  }
  .main-nav a {
    padding: 0.4rem;
    text-align: center;
    font-size: 0.7rem;
  }

  .info {
    grid-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
  }
  .info .btn {
    display: block;
    text-align: center;
    padding: 0.4rem;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .top-container {
    grid-template-areas:
      "show-case "
      "top-box-a "
      "top-box-b";
  }

  .main-nav ul {
    padding: 0;
    display: grid;
    grid-gap: 10px;
    list-style: none;
    margin: 0.5;
    grid-template-columns: repeat(1, 1fr);
  }

  .show-case h1 {
    font-size: 1.2rem;
  }

  .top-box > .price {
    font-size: 0.1rem;
  }

  .show-case p {
    font-size: 0.5rem;
  }
  .show-case .btn {
    margin-top: 1rem;
  }

  .main-nav ul {
    grid-gap: 0.5rem;
  }
  .main-nav {
    margin-bottom: -1rem;
  }
  .main-nav a {
    padding: 0.2rem;
    text-align: center;
    font-size: 0.5rem;
  }

  .info {
    grid-gap: 0.6em;
    grid-template-columns: repeat(1, 1fr);
  }
  .info .btn {
    display: block;
    text-align: center;
    padding: 0.4rem;
    margin-top: 0;
  }
  footer > p {
    font-size: 0.7em;
  }

  footer {
    margin-top: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: var(--dark);
    color: var(--light);
  }
}
